---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { getProjectsMetadata } from "@i18n/metadata";
import { getLang } from "@lib/utils";

const lang = getLang(Astro.currentLocale);
const metadata = getProjectsMetadata(lang as keyof typeof getProjectsMetadata);

const projects = (await getCollection("projects", ({ data }) => !data.draft && data.lang === lang))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

export async function getStaticPaths() {
  return [
    { params: { lang: "es" } },
    { params: { lang: "en" } },
  ];
}
---

<PageLayout title={metadata.TITLE} description={metadata.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white uppercase tracking-widest text-sm opacity-50">
        {metadata.TITLE}
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ArrowCard entry={project}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
