---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
import BackToTop from "@components/BackToTop.astro";
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <div class="flex justify-between items-center opacity-75 text-sm">
      <div>
        &copy; 2026 {`|`} {SITE.NAME}
      </div>
      <div class="flex flex-wrap gap-1 items-center font-semibold">
        {SITE.NAME.split(' ').map(n => n[0]).join('')}
      </div>
    </div>
  </Container>
</footer>
