---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
import { useTranslation } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import { languageList } from "@i18n/ui";

const currentLang = Astro.currentLocale || 'es';
const translateLabels = useTranslation(currentLang as keyof typeof languageList);
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <!-- <Link href={getRelativeLocaleUrl(currentLang, "/blog")}>
          {translateLabels("nav.blog")}
        </Link>
        <span>
          {`|`}
        </span> -->
        <Link href={getRelativeLocaleUrl(currentLang, "/projects")}>
          {translateLabels("nav.projects")}
        </Link>
        <span>
          {`|`}
        </span>
        <Link href={getRelativeLocaleUrl(currentLang, "/work")}>
          {translateLabels("nav.work")}
        </Link>
      </nav>
    </div>
  </Container>
</header>
